<template>
  <div class="container">
    <div class="home">
      <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
      <section class="text-center" v-if="errored">
        <img class="deatstar" src="@/assets/lightsaber.svg">
        <h2>We're sorry, we're not able to retrieve this information at the moment, please try back later</h2>
        <button class="btn" @click="paginatePrevious ()">Try Again</button>
      </section>
      <div v-else class="wraper">
        <div class="sub-header text-center">
          <p class="float-left" v-if="personagens_total">{{personagens_total}} caracters for search!</p>
          <div class="text-right">
            <button class="btn prev" type="button" @click="paginatePrevious()" v-if="pagina_previous">Previous</button>
            <button class="btn" type="button" @click="paginateNext()" v-if="pagina_next">Next</button>
          </div>
        </div>
        <transition name="fade">
          <div class="loader" v-if="loading" key="loading">
            <h3 class="text-center loader-title">Loading...</h3>
            <div class="bb8">
              <div class="antennas">
                <div class="antenna short"></div>
                <div class="antenna long"></div>
              </div>
              <div class="head">
                <div class="stripe one"></div>
                <div class="stripe two"></div>
                <div class="eyes">
                  <div class="eye one"></div>
                  <div class="eye two"></div>
                </div>
                <div class="stripe three"></div>
              </div>
              <div class="ball rotating">
                <div class="lines one"></div>
                <div class="lines two"></div>
                <div class="ring one"></div>
                <div class="ring two"></div>
                <div class="ring three"></div>
              </div>
              <div class="shadow"></div>
            </div>
          </div>
          <div class="colum" v-else key="data">
            <div class="card-holder">
              <div v-for="(personagem, index) in personagens" :key="index" class="card text-center">
                <div class="card-header">
                  <h3 class="card-title">
                    {{personagem.name}}
                  </h3>
                </div>
                <h4 class="text-muted">Personal Data</h4>
                <ul class="data-list">
                  <li class="data-item">Height: {{personagem.height}}</li>
                  <li class="data-item">Mass: {{personagem.mass}}</li>
                  <li class="data-item">Hair Color: {{personagem.hair_color}}</li>
                  <li class="data-item">Eye Color: {{personagem.eye_color}}</li>
                  <li class="data-item">Birth Year: {{personagem.birth_year}}</li>
                  <li class="data-item">Gender: {{personagem.gender}}</li>
                </ul>
                <ul v-if="personagem.starships.length">
                  <li>
                    <h4>Starships</h4>
                  </li>
                  <li v-for="(starshiplink, index) in personagem.starship" :key="index">

                    <button class="btn" style="margin-bottom:5px" @click="getStarshiplink(starshiplink)">{{starshiplink.name}} </button>
                  </li>
                </ul>
                <h4 class="text-muted" v-else>No Starships</h4>
              </div>
            </div>
            <transition name="slide-fade">
              <div class="modal" v-if="!loadingModal" v-show="modal">
                <div class="modal-container">
                  <button class="btn btn-close float-right" @click="closeModal">X</button>
                  <h2 class="modal-title text-center">{{starship_info.name}}</h2>
                  <div class="clearfix"></div>
                  <div>
                    <h3>Information</h3>
                    <p>Model: {{starship_info.model}}</p>
                    <p>Manufacturer: {{starship_info.manufacturer}}</p>
                    <p>Cost: {{starship_info.cost_in_credits}}</p>
                    <p>Length :{{starship_info.length}}</p>
                    <p>Crew: {{starship_info.crew}}</p>
                    <p>Passengers: {{starship_info.passengers}}</p>
                    <p>Cargo Capacity: {{starship_info.cargo_capacity}}</p>
                    <p>Consumables: {{starship_info.consumables}}</p>
                    <p>Hyperdrive Ratin: {{starship_info.hyperdrive_rating}}</p>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import axios from 'axios'

export default {
  name: 'home',
  components: {},
  data () {
    return {
      modal: false,
      pagina_previous: null,
      pagina_next: null,
      starship_info: {},
      starship_name: null,
      starship_model: null,
      starship_manufacturer: null,
      starship_cost_in_credits: null,
      starship_length: null,
      starship_crew: null,
      starship_passengers: null,
      starship_cargo_capacity: null,
      starship_consumables: null,
      starship_hyperdrive_rating: null,
      personagens: [],
      personagens_total: null,
      personagens_page: 'https://swapi.co/api/people/',
      loading: true,
      loadingModal: false,
      errored: false
    }
  },
  methods: {
    async paginateNext () {
      this.loading = true
      const response = await axios.get(this.pagina_next)
      this.pagina_previous = response.data.previous
      this.pagina_next = response.data.next
      this.personagens_total = response.data.count
      const results = await response.data.results.map(async (item) => {
        item.starships.map(async starship => {
          item.starship = []
          const starshipLink = await this.loadStartShip(starship)
          item.starship.push(await starshipLink)
        })
        return item
      })
      this.loading = false
      this.personagens = await Promise.all(results)
      console.log(this.personagens)
    },
    async paginatePrevious () {
      this.loading = true
      const response = await axios.get(this.pagina_previous)
      this.pagina_previous = response.data.previous
      this.pagina_next = response.data.next
      this.personagens_total = response.data.count
      const results = await response.data.results.map(async (item) => {
        item.starships.map(async starship => {
          item.starship = []
          const starshipLink = await this.loadStartShip(starship)
          item.starship.push(await starshipLink)
        })
        return item
      })
      this.loading = false
      this.personagens = await Promise.all(results)
      console.log(this.personagens)
    },
    getStarshiplink (link) {
      console.log(link)
      this.loadingModal = false
      this.modal = true

      this.starship_info = link

    },
    async loadStartShip (starship) {
      const response = await axios.get(starship)
      return response.data
    },
    async loadData () {
      const response = await axios.get(this.personagens_page)
      this.pagina_previous = response.data.previous
      this.pagina_next = response.data.next
      this.personagens_total = response.data.count
      const results = await response.data.results.map(async (item) => {
        item.starships.map(async starship => {
          item.starship = []
          const starshipLink = await this.loadStartShip(starship)
          item.starship.push(await starshipLink)
        })
        return item
      })
      this.loading = false
      this.personagens = await Promise.all(results)
      console.log(this.personagens)
    },
    closeModal () {
      this.modal = false
    }
  },
  mounted () {
    this.loadData()
  }
}
</script>
<style>
body {
  padding: 0;
  margin: 0;
  background-color: #9e9e9e;
}
ul {
  list-style: none;
  padding: 0;
}
.loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.88);
}
.loader-title {
  margin-bottom: 80px;
  color: #fff;
}
.btn {
  background-color: #fbe41f;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 800;
  color: #505050;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #333;
  color: #fff;
}
.btn:disabled {
  background: #ccc;
  color: #505050;
  opacity: 0.7;
}
.btn.prev {
  margin-right: 5px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-muted {
  color: #9c9c9c;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix {
  clear: both;
}
.container {
  padding: 0 30px;
}
.sub-header {
  padding: 25px 0;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  width: calc(33% - 60px);
  background-color: #fff;
  border-radius: 20px;
  margin: 10px 0;
  overflow: hidden;
  transition: all 0.3s;
}
.card:hover,
.card:active,
.card:focus {
  transform: scale(1.03);
}
.card-header {
  border-bottom: solid 6px #d5d5d5;
  background-color: #bebebe;
}
.card-title {
  margin: 0;
  padding: 10px 0;
}
.upper {
  text-transform: capitalize;
}
.modal {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 0 30px;
  box-sizing: border-box;
  overflow-y: auto;
}
.modal-container {
  margin: 30px auto;
}
.modal-title {
  margin-top: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
  opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transition: opacity 0.5s;
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.deatstar {
  display: block;
  margin: 50px auto;
}

/* bb8 */

.bb8 {
  position: absolute;
  width: 140px;
  bottom: 20%;
  left: calc(50% - 70px);
}
.antennas {
  position: absolute;
  transition: left 0.6s;
  left: 22%;
}
.antennas.right {
  left: 0%;
}
.antenna {
  background: #e0d2be;
  position: absolute;
  width: 2px;
}
.antenna.short {
  height: 20px;
  top: -60px;
  left: 50px;
}
.antenna.long {
  border-top: 6px solid #020204;
  border-bottom: 6px solid #020204;
  height: 36px;
  top: -78px;
  left: 56px;
}
.head {
  background: #e0d2be;
  border-radius: 90px 90px 14px 14px;
  height: 56px;
  margin-left: -45px;
  overflow: hidden;
  position: absolute;
  width: 90px;
  z-index: 1;
  top: -46px;
  left: 50%;
}
.head .stripe {
  position: absolute;
  width: 100%;
}
.head .stripe.one {
  background: #999;
  height: 6px;
  opacity: 0.8;
  z-index: 1;
  top: 6px;
}
.head .stripe.two {
  background: #cd7640;
  height: 4px;
  top: 17px;
}
.head .stripe.three {
  background: #999;
  height: 4px;
  opacity: 0.5;
  bottom: 3px;
}
.head .eyes {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: left 0.6s;
  left: 0%;
}
.head .eyes.right {
  left: 36%;
}
.head .eye {
  border-radius: 50%;
  display: block;
  position: absolute;
}
.head .eye.one {
  background: #020204;
  border: 4px solid #e0d2be;
  height: 30px;
  width: 30px;
  top: 12px;
  left: 12%;
}
.head .eye.one:after {
  background: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  width: 3px;
  top: 4px;
  right: 4px;
}
.head .eye.two {
  background: #e0d2be;
  border: 1px solid #020204;
  height: 16px;
  width: 16px;
  top: 30px;
  left: 40%;
}
.head .eye.two:after {
  background: #020204;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  top: 2px;
  left: 2px;
}
.ball {
  background: #d1c3ad;
  border-radius: 50%;
  height: 140px;
  overflow: hidden;
  position: relative;
  width: 140px;
}
.lines {
  border: 2px solid #b19669;
  border-radius: 50%;
  height: 400px;
  opacity: 0.6;
  position: absolute;
  width: 400px;
}
.lines.two {
  top: -10px;
  left: -250px;
}
.ring {
  background: #cd7640;
  border-radius: 50%;
  height: 70px;
  margin-left: -35px;
  position: absolute;
  width: 70px;
}
.ring:after {
  background: #d1c3ad;
  border-radius: 50%;
  content: '';
  display: block;
  height: 70%;
  margin-top: -35%;
  margin-left: -35%;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
}
.ring.one {
  margin-left: -40px;
  height: 80px;
  width: 90px;
  top: 6%;
  left: 50%;
}
.ring.two {
  height: 38px;
  width: 76px;
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
  top: 70%;
  left: 18%;
}
.ring.two:after {
  top: 100%;
}
.ring.three {
  height: 30px;
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  top: 66%;
  left: 90%;
}
.ring.three:after {
  top: 110%;
}
.shadow {
  background: #3a271c;
  border-radius: 50%;
  height: 23.3333333333px;
  opacity: 0.7;
  position: absolute;
  width: 140px;
  z-index: -1;
  left: 5px;
  bottom: -8px;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
/* bb8 */

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .card-holder {
    padding: 0;
  }
  .logo {
    width: 20vw;
    max-width: 150px;
  }
  .deatstar {
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .card {
    width: calc(50% - 8px);
  }
  .deatstar {
    max-width: 33%;
  }
}
@media (min-width: 998px) {
  .card {
    width: calc(33% - 6px);
  }
  .deatstar {
    max-width: 25%;
  }
}
@media (min-width: 1280px) {
  .card {
    width: calc(25% - 15px);
  }
}
</style>
