<template>
  <div id="app">
    <div id="nav">
      <img class="logo" alt="Logo" src="@/assets/logo-8.png">
      <div class="links">
      <router-link to="/">The List</router-link> |
      <router-link to="/about">About</router-link>
      </div>
      <img alt="r2d2" class="r2d2" src="@/assets/r2d2.svg">
    </div>
    <router-view/>
    <div class="footer">
      <p>Made With Love</p>
    </div>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #505050;
}
.r2d2{
  justify-self: baseline;
  align-self: auto;
  width: 13vw;
  max-width: 112px;
  transition: 0.3s all ease-in-out;
  transform: translate(0, 83px);
}
#nav {
  overflow: hidden;
  padding: 30px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    padding-left: 10px;
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #eee;
    }
  }
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #c1c1c1;
  margin-top: 50px;
}
#nav:hover .r2d2{transform: translate(0, 35px);}
.logo{
  width: 15vw;
  max-width: 150px;
}
@media (max-width: 767px) {
  .r2d2 {
    transform: translate(0, 56px);
  }
  #nav:hover .r2d2 {
    transform: translate(0, 30px);
  }
}
</style>
